{% extends 'main.html' %}
{% load static %}

{% block title %}Iniciar Sesion - Cafetería{% endblock %}

{% block contenido %}

<div class="container" style="border: 2px solid #ccc; border-radius: 10px;">

    <div class="row" >
        <div class="col-md-6">
            <img src="{% static 'images/cafelogin.png' %}" alt="Café" class="img-fluid" style="width: 100%; height:100%; border-radius: 5px;"/>
        </div>
        <div class="col-md-6">

            {% if form.errors %}
                <div class="alert alert-danger" >
                    {{ form.errors }}
                </div>
            {% endif %}

            <h1 class="text-center my-4">Bienvenido a la Cafetería</h1>

            <form method="post">
                {% csrf_token %}
                
                <label for="id_username" style="margin-top: 10px;">Nombre de Usuario</label>
                <input type="text" name="username" class="form-control" placeholder="Nombre de usuario" required style="margin-top: 5px;">

                <label for="id_password" style="margin-top: 10px;">Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="Contraseña" required style="margin-top: 5px;">
            
                <button type="submit" class="btn btn-primary btn-block" style="margin-top: 10px; background-color: #8B4513; border-color: #8B4513;">Iniciar Sesion</button>
            </form>
        
            <p class="mt-3">¿No tienes una cuenta? <a>Por favor consulta con el Adminstrador</a></p>
        </div>
    </div>
</div>

{% endblock %}