{% extends 'main.html' %}

{% block contenido %}
<h1>Todas las Ventas</h1>
<div class="btn-group" style="margin-top: 20px; ">
    <button type="button" class="btn btn-secondary" name="tipoFiltro" onclick="mostrarFecha()" style:"background-color: #9f663e; border-color: #9f663e;">
        Filtrar por fecha
    </button>
    <button type="button" class="btn btn-secondary" style:"background-color: #9f663e; border-color: #9f663e;"name="tipoFiltro" onclick="mostrarMes()">
        Filtrar por Mes
    </button>
</div>

<form method="GET">
    <div class="input-group  mt-3">
        <div id="fecha-div" style="display: none;">
            <label for="fecha">Seleccionar Fecha:</label>
            <input type="date" id="fecha" class="form-control" placeholder="Seleccionar fecha" name="fecha">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="margin: 15px; background-color: #9f663e; border-color: #9f663e;">Filtrar</button>
            </div>
        </div>

        <div id="mes-año-div" style="display: none;">
            <label for="mes">Seleccionar Mes:</label>
            <select name="mes" id="mes" class="form-control">
                <option value="">---------</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>

            <label for="año">Seleccionar Año:</label>
            <select name="año" id="año" class="form-control">
                <option value="">--------------</option>
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="margin: 15px; background-color: #9f663e; border-color: #9f663e;">Filtrar</button>
            </div>
        </div>
        
    </div>
</form>




{% for venta in ventas %}
<h2><strong> Venta No. {{venta.id}} </strong></h2>
<h5>Fecha de venta: {{ venta.fecha }}</h5>
<h2>Productos Vendidos:</h2>   
<ul>
    {% for ventaitem in venta.detalle.all %}
    <li>{{ ventaitem.producto.nombre }} {{ ventaitem.sabor }} - Cantidad: {{ ventaitem.cantidad }} - Subtotal: {{ ventaitem.subtotal }}</li>
    {% endfor %}
</ul>

<p><strong>Total de la venta {{venta.id}}: ${{ venta.total }} MXN <strong></p>
    <hr>

{% endfor %}

<h3><strong>Total de todas las ventas: $ {{ total_ventas }} MXN <strong></h3>

<script>
    function mostrarFecha() {
        document.getElementById("fecha-div").style.display = "block";
        document.getElementById("mes-año-div").style.display = "none";
    }
    
    function mostrarMes() {
        document.getElementById("fecha-div").style.display = "none";
        document.getElementById("mes-año-div").style.display = "block";
    }
</script>

{% endblock contenido %}