{% extends 'main.html' %}

{% block contenido %}
<h1>Detalles de Ventas</h1>

{% for venta in ventas %}
<h2> Venta No. {{venta.id}} </h2>
<p>Fecha de venta: {{ venta.fecha }}</p>


<h2>Productos comprados:</h2>   
<ul>
    {% for ventaitem in venta.detalle.all %}
    <li>{{ ventaitem.producto.nombre }} {{ ventaitem.sabor }} - Cantidad: {{ ventaitem.cantidad }} - Subtotal: {{ ventaitem.subtotal }}</li>
    {% endfor %}
</ul>

<p>Total a pagar: ${{ venta.total }} MXN </p>

{% endfor %}
{% endblock contenido %}