{% extends 'main.html' %}
{% load static %}

{% block contenido %}

{% for mesa in mesas %}
  <form action="{% url 'carrito_por_mesa' mesa_id=mesa.id %}" method="get">
    <button type="submit" class="btn btn-link" title="Carrito de Mesa {{ mesa.numero }}">
      Mesa {{ mesa.numero }}
    </button>
  </form>
{% endfor %}

<form action="{% url 'carrito_pedido_domicilio' %}" method="get">
  <button type="submit" class="btn btn-link" title="Carrito de Pedido a Domicilio">
    Pedido a Domicilio
  </button>
</form>


{% if carrito %}
  {% if carrito.mesa %}
    <h2>Orden - Mesa {{ carrito.mesa.numero }} </h2>
  {% else %}
    <h2> Orden - Pedido a Domicilio {{ carrito.pedido_domicilio.id }}</h2>
    <h2> Para {{ carrito.pedido_domicilio.nombre}} </h2>
  {% endif %}
    
  
    
  <form action="{% url 'pagar_carrito_por_mesa' mesa.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Pagar</button>
  </form>

  <form action="{% url 'limpiar_carrito_por_mesa' mesa.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Limpiar Carrito</button>
  </form>

  
{% else %}
  <p>No hay productos en el carrito.</p>
{% endif %}

{% endblock contenido %}
