{% extends 'main.html'%}

{% block contenido %}
<h3> Seleccione el tipo de orden: </h3>

<div class="row">
    <div class="col-md-6">
        <label>
            <input type="radio" name="tipoEntrega" value="en-sitio" onclick="mostrarMesas()"> En sitio
        </label>

        <label>
            <input type="radio" name="tipoEntrega" value="a-domicilio" onclick="mostrarFormulario()"> A domicilio
        </label>
    </div>
</div>

<form id="formularioDomicilio" style="display: none;" method="post" action="{% url 'carrito_pedido_domicilio' %}">
    {% csrf_token %}
    <h3> Añada los datos del domicilio del Cliente: </h3>

    <label for="Nombre">Nombre: </label>
    <input type="text" name="nombre"/>

    <label for="Nombre">Dirección: </label>
    <input type="text" name="direccion"/>

    <label for="Nombre">Número de Teléfono: </label>
    <input type="tel" name="numero" id="Telephone"/>
    <div class="row">
        {% for Producto in productos %}
            <div class="col-sm-3">
                <div class="card" style="width: 22rem; position: relative;">
                    {% if Producto.imagen %}
                        <img src="{{ Producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="..." >
                    {% else %}
                        <div class="card-placeholder" style="width: 100%; height:200px; background-color: #eee; text-align: center; line-height: 200px;">
                            Sin imagen
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ Producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ Producto.precio }} MXN</p>
                            {% for sabor in Producto.sabores %}
                                <input class="form-check-input" type="checkbox" value="{{ sabor }}" name="sabores">
                                <label class="form-check-label">{{ sabor }}</label><br>
                            {% endfor %}
    
                            <input type="number" name="cantidad" style="width: 50px; height: 25px;" value="1" min="1">
                            <input type="hidden" name="id_producto" value ="{{ Producto.id }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Agregar al Carrito <i class="bi bi-plus-circle-fill"></i></button>
</form>

{% for mesa in mesas %}
<form method="post" action="{% url 'carrito_por_mesa' mesa_id=mesa.id %}">
    {% csrf_token %}
    
    <div id="mesasDisponibles" style="display: none;">
      <select class="form-select form-select-sm" name="mesa_id" id="Mesa">
          {% for mesa in mesas %}
              <option value="{{ mesa.id }}">Mesa {{ mesa.numero }}</option>
          {% endfor %}
      </select>

      <div class="row">
        {% for Producto in productos %}
            <div class="col-sm-3">
                <div class="card" style="width: 22rem; position: relative;">
                    {% if Producto.imagen %}
                        <img src="{{ Producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="..." >
                    {% else %}
                        <div class="card-placeholder" style="width: 100%; height:200px; background-color: #eee; text-align: center; line-height: 200px;">
                            Sin imagen
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ Producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ Producto.precio }} MXN</p>
                            {% for sabor in Producto.sabores %}
                                <input class="form-check-input" type="checkbox" value="{{ sabor }}" name="sabores">
                                <label class="form-check-label">{{ sabor }}</label><br>
                            {% endfor %}
    
                            <input type="number" name="cantidad" style="width: 50px; height: 25px;" value="1" min="1">
                            <input type="hidden" name="id_producto" value ="{{ Producto.id }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Agregar al Carrito <i class="bi bi-plus-circle-fill"></i></button>
    </div>
</form>
{% endfor %}

<a href="{% url 'Dashboard' %}">Cancelar </a>

<!--Mmuestra y oculta segun la seleccion-->
<script>
    function mostrarFormulario() {
        document.getElementById("formularioDomicilio").style.display = "block";
        document.getElementById("mesasDisponibles").style.display = "none";
    }

    function mostrarMesas() {
        document.getElementById("formularioDomicilio").style.display = "none";
        document.getElementById("mesasDisponibles").style.display = "block";
    }
</script>

{% endblock contenido %}