{% extends 'main.html'%}
{%block extra_css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<style>
  .card {
      width: 25rem;
      height: 35rem;
      margin: 15px;
  }

  @media (max-width: 1400px) {
      .card {
          width: calc(95%);
      }
  }

  @media (max-width: 1200px) {
      .card {
          width: calc(90%); 
      }
  }

  @media (max-width: 992px) {
      .card {
          width: calc(90%);
      }
  }
  
</style>

{% endblock %}
{% block contenido %}
<h1> Seleccione el tipo de orden: </h1>

<div class="row">
    <div class="col-md-6">
        <div>
            <button type="button" class="btn btn-primary" name="tipoEntrega" value="en-sitio" onclick="mostrarMesas()" style="background-color: #9f663e; border-color:  #9f663e; margin-right: 15px">
                <i class="fas fa-utensils"></i> En sitio
            </button>
            <button type="button" class="btn btn-primary" name="tipoEntrega" value="a-domicilio" onclick="mostrarFormulario()" style="background-color: #9f663e; border-color:  #9f663e; ">
                <i class="fas fa-motorcycle"></i> A domicilio
            </button>
        </div>
           
    </div>    
    
</div>

<form id="formularioDomicilio" style="display: none; margin-top: 20px;" method="post" action="{% url 'carrito_pedido_domicilio' %}">
    {% csrf_token %}
    <h3> Añada los datos del domicilio del Cliente: </h3>

    <label for="Nombre">Nombre: </label>
    <input type="text" name="nombre"/>

    <label for="Nombre">Dirección: </label>
    <input type="text" name="direccion"/>

    <label for="Nombre">Número de Teléfono: </label>
    <input type="tel" name="numero" id="Telephone"/>
    <div class="row">
        {% for Producto in productos %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card card-item">
                    {% if Producto.imagen %}
                        <img src="{{ Producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="..." >
                    {% else %}
                        <div class="card-placeholder" style="width: 100%; height:200px; background-color: #eee; text-align: center; line-height: 200px;">
                            Sin imagen
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ Producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ Producto.precio }} MXN</p>
                            {% for sabor in Producto.sabores %}
                                <input class="form-check-input" type="checkbox" value="{{ sabor }}" name="sabores">
                                <label class="form-check-label">{{ sabor }}</label><br>
                            {% endfor %}
    
                            <input type="number" name="cantidad" style="width: 50px; height: 25px; position: absolute; bottom: 10px; right: 20px;" value="0" min="0">
                            <input type="hidden" name="id_producto" value ="{{ Producto.id }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Agregar al Carrito <i class="bi bi-plus-circle-fill"></i></button>
</form>

{% for mesa in mesas %}
<form method="post" action="{% url 'carrito_por_mesa' mesa_id=mesa.id %}">
    {% csrf_token %}
    
    <div id="mesasDisponibles" style="display: none; margin-top: 20px;">
      <select class="form-select form-select-sm" name="mesa_id" id="Mesa">
          {% for mesa in mesas %}
              <option value="{{ mesa.id }}">Mesa {{ mesa.numero }}</option>
          {% endfor %}
      </select>

      <div class="row">
        {% for Producto in productos %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card card-item">
                    {% if Producto.imagen %}
                        <img src="{{ Producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="..." >
                    {% else %}
                        <div class="card-placeholder" style="width: 100%; height:200px; background-color: #eee; text-align: center; line-height: 200px;">
                            Sin imagen
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ Producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ Producto.precio }} MXN</p>
                            {% for sabor in Producto.sabores %}
                                <input class="form-check-input" type="checkbox" value="{{ sabor }}" name="sabores">
                                <label class="form-check-label">{{ sabor }}</label><br>
                            {% endfor %}
    
                            <input class= "form-control" type="number" name="cantidad" style="width: 65px; height: 25px; position: absolute; bottom: 10px; right: 20px;" value="0" min="0">
                            <input type="hidden" name="id_producto" value ="{{ Producto.id }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Agregar al Carrito <i class="bi bi-plus-circle-fill"></i></button>
    </div>
</form>
{% endfor %}

<a href="{% url 'Dashboard' %}" class="btn btn-danger" style="margin-top: 15px; margin-bottom: 15px;">Cancelar </a>

<!--Mmuestra y oculta segun la seleccion-->
<script>
    function mostrarFormulario() {
        document.getElementById("formularioDomicilio").style.display = "block";
        document.getElementById("mesasDisponibles").style.display = "none";
    }

    function mostrarMesas() {
        document.getElementById("formularioDomicilio").style.display = "none";
        document.getElementById("mesasDisponibles").style.display = "block";
    }
</script>

{% endblock contenido %}