{% extends 'main.html' %}
{% load static %}

{% block contenido %}

<div class="container">
    <h1>Detalle de Venta</h1>

    <div class="row mt-3">
        <div class="col-md-6">
            <h3>Domicilio: {{ venta.pedido_domicilio.direccion }}</h3>
            <h4>Recibe: {{nombre_domicilio}}</h4>
            <p><strong>Total: ${{ venta.total }}</strong></p>
            <p>Fecha: {{ venta.fecha }}</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h2>Orden Completa:</h2>
            <ul class="list-group">
                {% for item in items_carrito %}
                    <li class="list-group-item">{{ item.producto.nombre }} - Cantidad: {{ item.cantidad }} - Subtotal: ${{ item.subtotal }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <a href="{% url 'VerComanda' %}" class="btn btn-primary">Volver a Ordenes</a>
            <a href="{% url 'Dashboard' %}" class="btn btn-primary">Volver al Dashboard</a>
        </div>
    </div>
</div>
{%endblock%}