{% extends 'main.html'%}
{% load static %}

{% block contenido %}

<form id="formularioDomicilio" method="post" action="{% url 'datos_domicilio' %}">
    {% csrf_token %}
    <h3> Añada los datos del domicilio del Cliente: </h3>

    <label for="Nombre">Nombre: </label>
    <input class="form-control" type="text" name="nombre" required />

    <label for="Nombre">Dirección: </label>
    <input class="form-control"  type="text" name="direccion" required/>

    <label for="Nombre">Número de Teléfono: </label>
    <input class="form-control"  type="tel" name="numero" id="Telephone" required/>
    
    <button type="submit" class="btn btn-primary" style=" margin-top: 10px; background-color: #9f663e; border-color: #9f663e;">
        <i class="fa-regular fa-floppy-disk"></i> Guardar Datos del Pedido
    </button>
    <a href="javascript:history.back();" class="btn btn-success" style=" margin-top: 10px; background-color: #9f663e; border-color: #9f663e;">
        <i class="fas fa-arrow-left" style="margin-right: 5px"></i>Regresar
    </a>
</form>

{% endblock contenido %}