{% extends 'main.html'%}
{% load static %}

{% block contenido %}

<form id="formularioDomicilio" method="post" action="{% url 'datos_domicilio' %}">
    {% csrf_token %}
    <h3> Añada los datos del domicilio del Cliente: </h3>

    <label for="Nombre">Nombre: </label>
    <input type="text" name="nombre"/>

    <label for="Nombre">Dirección: </label>
    <input type="text" name="direccion"/>

    <label for="Nombre">Número de Teléfono: </label>
    <input type="tel" name="numero" id="Telephone"/>
    
    <button type="submit" class="btn btn-primary">Guardar Datos del Pedido</button>
</form>

{% endblock contenido %}