{% extends 'main.html' %}

{% block contenido %}
<div class="col-lg-4 col-md-6 col-sm-12">
    <form method="post" action="{% url 'seleccionar_mesa' %}">
        {% csrf_token %}
        <h1 for="mesa_seleccionada">Seleccione una Mesa:</h1>
        <select id="mesa_seleccionada" name="mesa_seleccionada" class="form-select">
            {% for mesa in mesas %}
                <option value="{{ mesa.id }}">Mesa {{ mesa.numero }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Seleccionar Mesa</button>
    </form>
</div>


{% endblock %}