{% extends 'base.html' %}

{% block contenido %}
<div class="input-group" style="margin-top: 15px">
    <span class="input-group-text"><i class="fas fa-search"></i></span>
    <input type="text" id="search-input" name="search" class="form-control" placeholder="Buscar productos">
</div>

<!-- Agrega el contenedor de productos donde se mostrarán los resultados de búsqueda -->
<div id="productos-container" class="row">
    {% for producto in productos %}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card card-item">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="..." >
            {% else %}
                <div class="card-placeholder" style="width: 100%; height:200px; background-color: #eee; text-align: center; line-height: 200px;">
                    Sin imagen
                </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">Precio: ${{ producto.precio }} MXN</p>
                {% for sabor in producto.sabores %}
                    <input class="form-check-input" type="checkbox" value="{{ sabor }}" name="sabores">
                    <label class="form-check-label">{{ sabor }}</label><br>
                {% endfor %}

                <input class= "form-control" type="number" name="cantidad" style="width: 65px; height: 25px; position: absolute; bottom: 10px; right: 20px;" value="1" min="1">
                <input type="hidden" name="id_producto" value ="{{ producto.id }}">
                
            </div>
        </div>
    </div>
{% endfor %}
</div>

<button type="submit" class="btn btn-primary">Agregar al Carrito <i class="bi bi-plus-circle-fill"></i></button>

<a class="btn btn-primary" href="{% url 'carrito_por_mesa' mesa.id %}">
    Ver Ordenes <i class="fas fa-shopping-cart"></i>
</a>

{% endblock contenido %}
