{% extends 'main.html' %}

{% block contenido %} 
<div class="conteiner">
  <div class=""col-lg-4 col-md-6 col-sm-12" >
    <div style="display: flex;">
      <h1>Crear un Nuevo Platillo</h1>
    </div>
    <div style="margin: 15px;">

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin-top: 15px;">
          <button class="btn btn-primary" type="submit">Guardar</button>
          <a href ="{% url 'Menu' %}"class="btn btn-danger" type="submit">Cancelar</a> 
        </div>

      </form>

      {% if form.errors %}
        <div class="errors">
          {{ form.errors }}
        </div>
      {% endif %}
      
    </div>  
  </div>
</div>  

{% endblock %}