{% extends 'main.html' %}

{% block contenido %} 

<div class="card col-lg-8 col-lg-7 mx-auto" >
  <div class="card-title" style="margin: 15px;">
    <h1>Editando Platillo: {{Producto.nombre}}</h1>
  </div>
  <div class="card-body" style="margin: 15px;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-between" style="margin-top: 20px;">
        <div class="d-flex">
          <button class="btn btn-primary mr-2" type="submit" style="margin-right: 10px;">Guardar</button>
          <a href="{% url 'Menu' %}" class="btn btn-danger mr-2" type="submit">Cancelar</a>          
        </div>
        <a href="{% url 'EliminarProducto' pk=Producto.id %}" class="btn btn-outline-danger ml-auto">Eliminar</a>
    </div>
    </form>
  </div>
</div>
{% endblock %}