{% extends 'main.html' %}

{% block contenido %} 
  <h1>Editando Platillo: {{Producto.nombre}}</h1>
  <div class="col-lg-8 col-lg-7 mx-auto" style="margin: auto;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <button class="btn btn-primary mr-2" type="submit" style="margin-right: 10px;">Guardar</button>
          <a href="{% url 'Menu' %}" class="btn btn-danger mr-2" type="submit">Cancelar</a>          
        </div>
        <a href="{% url 'EliminarProducto' pk=Producto.id %}" class="btn btn-outline-danger ml-auto">Eliminar</a>
    </div>
    </form>
  </div>

    
      
{% endblock %}