{% extends 'main.html' %}

{% block contenido %} 
<div class="conteiner">
  
    <div style="display: flex;">
      <h1>Editando Platillo: {{Producto.nombre}}</h1>
    </div>
    <div style="margin: 15px;">

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin-top: 15px;">
          <button class="btn btn-primary" type="submit">Guardar</button>
          <a href ="{% url 'Menu' %}"class="btn btn-danger" type="submit">Cancelar</a>
          <a href="{% url 'EliminarProducto' pk=Producto.id %}" class="btn btn-outline-danger float-right" style="">Eliminar</a> 
        </div>
          

      </form>

      {% if form.errors %}
        <div class="errors">
          {{ form.errors }}
        </div>
      {% endif %}
      
    </div>  
  
</div>  

{% endblock %}