{% extends 'main.html' %}
{% load static %}

{%block extra_css%}
<style>
  .card {
      width: 25rem;
      height: 35rem;
      margin: 15px;
  }

  @media (max-width: 1400px) {
      .card {
          width: calc(95%);
      }
  }

  @media (max-width: 1200px) {
      .card {
          width: calc(90%); 
      }
  }

  @media (max-width: 992px) {
      .card {
          width: calc(90%);
      }
  }

  
</style>
{% endblock %}

{% block contenido %} 
  
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffffff; color: #ffffff;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'Menu'  %}" style="color: #8B4513; font-size: 25px;">Menú</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% for categoria in categorias %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'menu_por_categoria' categoria.id %}">{{ categoria.nombreCate }}</a>        
        </li>
        {% endfor %}          
        </ul>

        <form class="d-flex" method= "GET">
          <input class="form-control me-2" type="search" placeholder="Buscar platillo" aria-label="Search" name="Buscar" value="">
          <button class="btn btn-outline-success custom-brown" type="submit"  >Buscar</button>
        </form>
        {%if user.is_staff%}
        <a class="btn btn-outline-secondary ms-2" href="{% url 'CrearProducto' %}" style="left: 20px; right: 20px;">Crear</a>
        {%endif%}
        <a href="{% url 'listar_adicionales' %}" class="btn btn-outline-dark ms-2" style="left: 20px; right: 20px;">Adicionales</a>
      </div>
    </div>
  </nav>   

    <div class="row">
        <div class="col-lg-12">
            <div style="display: flex;">
                <h1>Todos los Platillos</h1>
            </div>
            
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        {% if 'error' in message.tags or 'warning' in message.tags %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% elif 'success' in message.tags %}
                            <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
 
    <div class="container-fluid">
        <div class="row">
            {% for Producto in Productos %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card card-item" >

                        {% if Producto.imagen %}
                        <img src="{{ Producto.imagen.url }}" class="card-img-top" style="width: 100%; height:200px;" alt="...">
                        {% else %}
                        <div class="card-placeholder" style="width: 100%; height:200px; background-color: #eee; text-align: center; line-height: 200px;">
                            Sin imagen
                        </div>
                        {% endif %}
                                                  
                        <div class="card-body">
                            <h5 class="card-title">{{ Producto.nombre }}</h5>
                            <p class="card-text">{{ Producto.descripcion }}</p>
                            <p class="card-text">Precio: ${{ Producto.precio }}</p>
                            <p class="card-text">Categoría: {{ Producto.categoria }}</p>
                            <p class="card-text">Sabores o Ingredientes: </p>
                            <ul id="sabores">
                              {% for sabor in Producto.sabores %}
                                <li>{{ sabor }}</li>
                              {% endfor %}
                            </ul>
                            {%if user.is_staff%}
                            <a href="{% url 'EditarProducto' pk=Producto.id%}" class="btn btn-primary" style="position: absolute; bottom: 10px; right: 20px;">Editar</a> <!--Boton superpuesto, investigar-->
                            {%endif%}

                            {% if Producto.adicionales.all %}
                            <p class="card-text">Ingredientes adicionales disponibles para ese platillo: </p>
                            <ul id="adicionales">
                              {% for ingrediente in Producto.adicionales.all %}
                                <li>{{ ingrediente }}</li>
                              {% endfor %}
                            </ul>
                            {%endif%}

                        </div>
                    
                    </div>
                </div>
            {% endfor %}
        </div>           
    </div>
    <a href="{% url 'CrearProducto' %}" class="btn btn-success" style="margin-top: 15px; margin-bottom: 15px;"> Crear Nuevo </a>

 
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>   
    {%  if messages %}
      {% for message in messages %}
        <script>
          {% if 'error' in message.tags or 'warning' in message.tags %}
              Swal.fire({
                "title": "Se ha eliminado",
                "text" : "{{ message }}",
                "icon" : "error"
              });
          {% elif 'success' in message.tags %}    
            Swal.fire({
              "title": "Felicidades",
              "text" : "{{ message }}",
              "icon" : "success"
            });
          {% else %}
              Swal.fire({
                "title": "Información Importante",
                "text" : "{{ message }}",
                "icon" : "warning"
              });
        {% endif %}

       </script>   
      {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

