{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facheritas Admin</title>

    <!-- Libreria Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfect-scrollbar.css' %}">
    <script src="{% static 'js/perfect-scrollbar.js' %}"></script>


    <!-- Estilos Facherritas -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Fuentes-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"> 


</head>
<body>
    <!--Inicio de Nav bar (Menu Superior)
    ************************************
    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">
            <img src = "{% static 'images/Logo.png'%}" width="150" height="150" alt="Facheritas Café" > </img>
            <a class="navbar-brand" href="#" style="color: #8B4513; font-size: 25px;">Facheritas Café</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: #8B4513; font-size: 25px; margin-right: 40px;">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #341e0e; font-size: 25px; margin-right: 40px;">Crear Orden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Menu'%}" style="color: #341e0e; font-size: 25px; margin-right: 40px;">Ver Menú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #341e0e; font-size: 25px; margin-right: 150px;">Salir</a> <!-- Salir o Iniciar Sesion-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Fin de Nav bar (Menu Superior)
    ************************************
    -->

    <!--Inicio de Body (Contenido)
    ************************************
    -->

    <div class="container-fluid">
        {%block contenido%}

        <div class="row flex-md-row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/CafeMain1.png' %}" style="width: 1320px;" class="img-fluid" alt="...">
            </div>          
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <button href="#" style="width: 200px; height: 100px; background-color: #ffff; border: 5px;border-color: black;">
                    Iniciar Sesion
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/CafeMain2.png' %}" style="width: 440px; height: 295px;" class="img-fluid" alt="...">
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/CafeMain3.png' %}" style="width: 440px; height: 295px;" class="img-fluid" alt="...">
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/CafeMain4.png' %}" style="width: 440px; height: 295px;" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        
        
        {%endblock%}
    </div>
    <script>
        const container =
        document.querySelector('.col-md-12');
        const ps = new PerfectScrollbar(container);                      
    </script>
    <!-- Incluir Bootstrap JS (asegúrate de tener la biblioteca Bootstrap instalada) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>
</html>